.home__bg{
    background-image: url(../../img/home/bg.jpg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}